input:not([type="checkbox"]):not([type="radio"]), select, textarea { width: 100%; padding: 0.5em; box-sizing: border-box; border: none; margin: 0.5em 0px; background-color: rgb(240, 240, 240); border-radius: 7px; }
button, .as-button { background: none; border-radius: 7px; border: 1px solid rgb(204, 204, 204); cursor: pointer; font-size: 1em; margin: 0px 0.2em; text-align: center; color: rgb(153, 153, 153); padding: 0.3em 1em; letter-spacing: 1px; }
body { font-family: sans-serif; background: rgb(255, 255, 255); color: rgb(102, 102, 102); }
.flex-box { align-items: center; display: flex; }
.flex-box input:not([type="checkbox"]):not([type="radio"]), .start-flex-box { flex: 1 1 auto; position: relative; margin: 0px; width: 1%; }
.flex-box button:not(:first-child) { border-radius: 7px; background-color: rgb(240, 240, 240); background-image: none; margin: 5px; border: none; }
fieldset { border-style: solid; border-color: rgb(204, 204, 204); border-image: initial; border-width: 0px 0px 1px; font-size: 1em; letter-spacing: 1px; margin: 0em 0em 2em; padding: 0.5em 0px; color: rgb(102, 102, 102); text-transform: inherit; }
.flex-box.two-buttons button:first-child, .flex-box-stroke.two-buttons button:first-child { border-right: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0em; margin-right: 0px; flex: 1 1 auto; }
legend { display: flex; place-content: center; align-items: center; padding: 0px; }
legend > :first-child { padding: 0.4em; font-size: 1.1em; }
fieldset.no-border { border: 0px; }
legend input:not([type="checkbox"]):not([type="radio"]) { margin: 0px; }
div.upload-button { position: relative; }
.flex-box .upload-button input[type="file"] { position: absolute; top: 0px; left: 0px; width: 100%; opacity: 0; cursor: pointer; height: 100%; z-index: 2; display: none; }
.upload-button label { display: block; cursor: pointer; }
button[disabled] { cursor: not-allowed; }
details summary svg { transform: rotate(90deg); margin-right: 5px; cursor: pointer; }
details summary > span:first-child { vertical-align: middle; }
details[open] > summary svg { transform: rotate(180deg); }
details ul { padding-left: 26px; }
ul summary { padding-top: 0px; padding-bottom: 0px; }
summary { list-style-type: none; padding: 1em 0px; cursor: pointer; position: relative; padding-inline-start: 23px !important; }
small.tilepieces-small-error { display: none; color: red; }
small.tilepieces-small-error.show { display: block; }
ul { list-style: none; padding: 0px; }
.start-flex-box { padding: 0.8em 0.4em; }
ul li { padding: 0.8em 0px 0px; }
.as-button { border-radius: 7px; padding: 0.3em 1em; margin: 0px 0.2em; text-align: center; color: rgb(153, 153, 153); font-size: 1em; letter-spacing: 1px; }
.as-button:hover { color: rgb(51, 51, 51); }
iframe { border-width: 1px; border-style: solid; }
.current-project-data__add-files { padding: 0px; height: 2em; width: 2em; }
.current-project-data__remove-files { height: 2em; width: 2em; padding: 0px; }
.flex-box input[type="number"] { height: 2em; min-width: 6% !important; width: auto !important; margin-right: 5px !important; }
.component-properties-remove { padding: 0px; height: 2em; width: 2em; }
.tab-component-buttons span { display: block; cursor: pointer; border-radius: 0px; position: relative; text-transform: uppercase; letter-spacing: 2px; font-size: 1.2em; margin: 0.8em; padding-bottom: 0.3em; color: rgb(153, 153, 153); border-bottom: 1px solid rgb(255, 255, 255); }
.tab-component-buttons span.true, .tab-component-buttons span.selected { border-bottom: 1px solid rgb(102, 102, 102); color: rgb(102, 102, 102); }
.tab-component-buttons span:hover { border-bottom: 1px solid rgb(102, 102, 102); color: rgb(102, 102, 102); }
div.tab-component-buttons { display: flex; flex-wrap: wrap; align-items: center; }
div.tab-component { margin-bottom: 1em; }
h3, .h3 { font-size: 1.3em; font-weight: normal; letter-spacing: 1px; color: rgb(102, 102, 102); text-transform: capitalize; margin-bottom: 0.5em; }
h3 span svg, .h3 span svg { transform: rotate(90deg); margin-right: 0.3em; vertical-align: top; }
.details-open-summery-child { padding: 0px; margin: 0px 1em; border-left: 1px solid rgb(204, 204, 204); }
legend > a:first-child { font-size: 1em; letter-spacing: 1px; text-transform: uppercase; text-decoration: none; color: rgb(102, 102, 102); padding-bottom: 0.4em; }
h2, .h2 { font-size: 1.5em; font-weight: normal; letter-spacing: 1px; color: rgb(102, 102, 102); text-transform: capitalize; margin-bottom: 0.5em; }
.button-bg-fill { background-color: rgb(240, 240, 240); border-radius: 7px; background-image: none; margin: 5px; border: none; padding: 0.3em 1em; text-align: center; color: rgb(153, 153, 153); font-size: 1em; letter-spacing: 1px; }
.flex-box.top-button-actions > * { flex-grow: 1; }
.component-properties-open { height: 2em; width: 2em; text-align: center; padding: 0px; position: relative; }
.component-properties-open svg { transform: rotate(180deg); right: 0.4em; position: absolute; top: 0.5em; }
.component-properties-open span { }
div.flex-box-stroke { display: flex; margin-bottom: 1.5em; padding-bottom: 0.8em; align-items: center; justify-content: initial; }
h4, .h4 { font-size: 1em; text-transform: uppercase; letter-spacing: 1px; font-weight: 400; color: rgb(102, 102, 102); margin: 0px 0px 0.5em; }
fieldset legend { text-transform: uppercase; }
.details-open-summery-child fieldset { border-bottom: 0px; margin-bottom: 1em; }
.top-button-actions { margin-bottom: 0.5em; }
.flex-box-stroke span:first-of-type { padding-right: 1em; color: rgb(102, 102, 102); }
.input-css-style { border-radius: 7px; margin: 0em 0px 0.5em; background-color: rgb(240, 240, 240); width: 100%; box-sizing: border-box; border: none; }
.input-css-style .input-css, .input-css-style .input-css-placeholder { display: inline-block; }
.message-alert-error { position: absolute; margin-top: 5em; color: red; }
legend > a:first-child { padding-bottom: 0em; }
.color-button { width: 1.8em; height: 1.8em; border: 1px solid rgb(51, 51, 51); display: inline-block; vertical-align: middle; }
.color-button ~ .input-css-placeholder .span-color-button { display: none; }
.flex-box.two-buttons { }
.flex-box.two-buttons button:not(:first-child), .flex-box-stroke.two-buttons button:not(:first-child) { margin-left: 0px; border-radius: 0px 7px 7px 0px; background-color: rgba(0, 0, 0, 0.1); }
.flex-box.two-buttons button:first-child.first-button, .flex-box-stroke.two-buttons button:first-child.first-button { flex-grow: 0; }
.flex-box-stroke.two-buttons button:not(:first-child) { background-color: rgb(255, 255, 255); }
.two-buttons svg { vertical-align: middle; }
.info-round-icon svg { vertical-align: sub; }
.two-buttons button.second-button { padding-left: 5px; padding-right: 5px; }
.two-buttons button.second-button:hover { background-color: rgba(0, 0, 0, 0.2); }
.two-buttons button.second-button svg:hover { }
a.info-round-icon { background-image: url("/modules/tilepieces/stylesheet/svg-circle-info.svg"); width: 1.25em; height: 1.25em; display: inline-block; margin-top: 0.5em; }
a.info-icon { background-image: url("/modules/tilepieces/stylesheet/svg-info.svg"); display: inline-block; width: 0.8125em; height: 0.8125em; vertical-align: middle; }
details > summary svg { display: none; }
summary::before { width: 17px; height: 17px; background-image: url("/modules/tilepieces/stylesheet/svg-summary.svg"); background-repeat: no-repeat; content: ""; position: absolute; left: -4px; top: 50%; transform: translate(0px, -50%) rotate(90deg); }
details > summary h3, details > summary .h3 { margin: 0px; padding: 0px; }
details[open] > summary::before { transform: translate(0px, -50%) rotate(180deg); }
details summary::-webkit-details-marker { display: none; }
summary { outline: none; user-select: none; -webkit-user-select: none}.tilepieces-dialog { align-items: center; display: none; flex-direction: column; justify-content: center; overflow: hidden; position: fixed; z-index: 45; inset: 0px; font-family: Helvetica, Arial, sans-serif; line-height: 1.5em; }
.tilepieces-dialog-content { position: absolute; overflow: auto; padding: 20px; border: 1px solid rgb(204, 204, 204); max-width: 80vw; min-width: 940px; background-color: rgb(255, 255, 255); border-radius: 6px; box-shadow: rgba(10, 10, 10, 0.1) 0px 2px 3px, rgba(10, 10, 10, 0.1) 0px 0px 0px 1px; color: rgb(74, 74, 74); max-height: calc(100vh - 40px); box-sizing: border-box; }
.tilepieces-dialog.open { display: flex; }
.tilepieces-dialog.open.on-top { z-index: 46; }
.tilepieces-dialog::before { content: ""; position: absolute; inset: 0px; background-color: rgba(10, 10, 10, 0.3); }
.tilepieces-dialog-close { height: 32px; width: 32px; position: fixed; right: 20px; top: 20px; cursor: pointer; border-radius: 100%; }
.tilepieces-dialog-close::before { height: 2px; width: 50%; }
.tilepieces-dialog-close::after { height: 50%; width: 2px; }
.tilepieces-dialog-close:hover { background-color: rgba(10, 10, 10, 0.3); }
.tilepieces-dialog-close::after, .tilepieces-dialog-close::before { background-color: rgb(255, 255, 255); content: ""; display: block; left: 50%; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%) rotate(45deg); transform-origin: center center; }
@media (max-width: 1024px) {
  .tilepieces-dialog.open { display: block; }
  .tilepieces-dialog-content { max-width: 100%; width: 100%; max-height: 100%; height: 100%; min-width: 100%; padding: 40px 20px; }
  .tilepieces-dialog-close { background-color: rgba(10, 10, 10, 0.1); top: 5px; right: 25px; }
}
#tilepieces-prompt-dialog-button { display: block; clear: both; margin: 1.5em auto; }
#tilepieces-alert-dialog svg.error { max-height: 100%; float: left; width: 25%; display: none; }
#tilepieces-alert-dialog.error svg.error { display: block; }
div.tilepieces-alert-dialog-content { display: flex; }
div.tilepieces-dialog-footer { text-align: center; }
#tilepieces-prompt-dialog-label-error { color: red; display: none; }
[data-invalid] + #tilepieces-prompt-dialog-label-error { display: block; }.tab-horizontal.tab-buttons { position: relative; padding: 0em 0px 0px; font: 1.3em sans-serif; margin-bottom: 1em; overflow-x: hidden; }
.tab-horizontal.tab-buttons > a { position: absolute; text-decoration: none; color: rgb(51, 51, 51); display: none; font-size: 1.2em; z-index: 2; background: url("/modules/tilepieces/tabs/svg-ico-freccia.svg") 50% 60% / 35% no-repeat scroll rgb(255, 255, 255); text-indent: -9999px; padding: 0.6em 0.9em 0.3em; height: calc(100% - 3px); box-sizing: border-box; }
.tab-horizontal.tab-buttons > a:hover { }
.tab-horizontal.tab-buttons > .tab-prev { left: 0px; transform: rotate(180deg); background-position-y: 38%;}
.tab-horizontal.tab-buttons > .tab-next { right: 0px; }
.tab-horizontal .tab-buttons-wrap { position: relative;  border-bottom: 2px solid #e8e8e8;}
.tab-horizontal .tab-buttons-inside { transform: translateX(0px); transition: transform 0.2s ease 0s; user-select: none; white-space: nowrap; padding: 0.6em 0px 0.3em; }
.tab-horizontal .tab-buttons-inside a { text-decoration: none; cursor: pointer; border-radius: 0px; position: relative; text-transform: capitalize; font-size: 1em; color: rgb(153, 153, 153); padding: 0.6em 1em 0.3em; }
.tab-horizontal .tab-buttons-wrap .tab-buttons-inside a.selected { color: rgb(102, 102, 102); background: none 0% 0% repeat scroll transparent; }
.tab-horizontal .tab-buttons-wrap .tab-buttons-inside a.selected::after {content: "";position: absolute;top: 100%;border-bottom: 2px solid rgb(102, 102, 102);left: 0;width: 100%;}
.tab-horizontal .tab-buttons-inside a:hover { background: transparent; color: rgb(102, 102, 102);}body { background: rgb(255, 255, 255); margin: 0px; }
#projects, #components { width: calc(100% - 1em); margin: auto; }
#components ul { list-style: none; margin: 0px; }
#global-components .global-local .add-new-local-component { display: none; }
.global-local input[type="checkbox"] { display: none; }
#projects-list .flex-box > * { flex-grow: 1; }
#projects-list svg { height: 15px; width: 15px; }
#projects-list .flex-box > * { background-color: rgb(240, 240, 240); border-radius: 7px; background-image: none; margin: 5px; border: none; }
#projects-list .flex-box .upload-button label { border: none; text-align: center; color: rgb(153, 153, 153); font-size: 1em; }
#projects-list button { border-radius: 7px; padding: 0.3em 1em; margin: 0px 0.2em; text-align: center; color: rgb(153, 153, 153); font-size: 1em; letter-spacing: 1px; }
#projects-list button:hover { color: rgb(51, 51, 51); }
#projects-list .flex-box .upload-button label:hover { color: rgb(51, 51, 51); }
#projects-list .flex-box { margin-bottom: 1.5em; }
#projects-list ul { margin-top: 0px; }
#projects-list .select-all-checkboc-svg svg { height: 16px; width: 16px; vertical-align: sub; }
span.select-all-checkboc-svg { font-size: 0.7em; color: rgb(102, 102, 102); text-transform: uppercase; letter-spacing: 1px; vertical-align: top; }
input.toggle-projects { color: red; }
.flex-box .upload-button span { vertical-align: middle; }
#projects fieldset { border-width: 0px 0px 1px; font-size: 1em; letter-spacing: 1px; text-transform: uppercase; margin: 2em 0.5em 3em; padding: 0.5em 0px; color: rgb(102, 102, 102); }
button, .as-button { border-radius: 7px; padding: 0.3em 1em; margin: 0px 0.2em; text-align: center; color: rgb(153, 153, 153); font-size: 1em; letter-spacing: 1px; }
input:not([type="checkbox"]):not([type="radio"]), select, textarea { border-radius: 7px; margin: 0.5em 0px; padding-top: 0.5em; padding-bottom: 0.5em; padding-right: 0.4em; background-color: rgb(240, 240, 240); }
#projects fieldset legend label { padding: 0px; }
#projects .current-project-data__add-files { padding: 0px; height: 2em; width: 2em; }
#projects legend { align-items: center; }
div.legend-with-add { display: flex; align-items: center; }
.project-with-remove { display: flex; align-items: center; }
#projects .current-project-data__remove-files { height: 2em; width: 2em; padding: 0px; }
h1 { font-size: 2em; font-weight: normal; letter-spacing: 1px; color: rgb(102, 102, 102); }
h2 { font-size: 1.5em; font-weight: normal; letter-spacing: 1px; color: rgb(102, 102, 102); }
h3 { font-size: 1.3em; font-weight: normal; letter-spacing: 1px; color: rgb(102, 102, 102); text-transform: capitalize; }
.select-all-checkboc-svg svg { height: 16px; width: 16px; vertical-align: sub; }
.component-properties-remove-template { height: 2em; width: 2em; padding: 0px; }
.flex-box button.component-properties-remove { background-color: transparent; border: 1px solid rgb(204, 204, 204); height: 2em; width: 2em; padding: 0px; }
.details-open-summery-child { border: 0px; }
.details-open-summery-child fieldset { margin: 0px 0px 1.5em; }
[data-add-component-property="miscellaneous"].component-properties-add { margin-bottom: 1.5em; }
.flex-box button.flex-box-button-border { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-radius: 7px; }
#projects-list button.component-properties-remove { padding: 0px; }
iframe { border-radius: 7px; border-color: rgb(214, 214, 214); }
.button-bg-fill { background-color: rgb(240, 240, 240); border-radius: 7px; background-image: none; margin: 5px; border: none; padding: 0.3em 1em; text-align: center; color: rgb(153, 153, 153); font-size: 1em; letter-spacing: 1px; }
.flex-box input[type="file"].no-background, .no-background { background: none; }
#local-components .flex-box input[type="file"] { }
.custom-file-upload { cursor: pointer; }
#local-components .flex-box > * { flex-grow: 1; }
#local-components .flex-box { margin-bottom: 1.5em; }
input { margin-top: 0px; }
.top-button-actions svg { height: 15px; width: 15px; }
.top-button-actions span { margin: 0px; padding: 0px; vertical-align: middle; }
#global-components .flex-box > * { flex-grow: 1; }
#global-components .flex-box { margin-bottom: 1.5em; }
#component-settings-form .flex-box > :not(button) { flex-grow: 1; }
label { margin: 0px; padding-top: 0px; }
legend input[type="checkbox"] { margin-bottom: 0px; }
.block-tags summary svg { vertical-align: top; }
h2.main-h2 { margin: 1em 0.4em; display: inline-block; border-bottom: 1px solid; padding-bottom: 2px; }
fieldset { margin: 0px 0.5em 2em; }
a.info-round-icon { margin-top: 0px; vertical-align: bottom; margin-left: 0.3em; }
fieldset legend { font-size: 1.1em; }
legend > :first-child { font-size: 1.1rem; }
#tabs { position: sticky; top: 0px; background: rgb(255, 255, 255); z-index: 2; }
.html-info { position: relative; }
.svg-link { position: absolute; top: 0px; right: 0px; z-index: 3; cursor: pointer; padding: 0px 5px; height: 100%; display: flex; align-items: center; }
.svg-link svg { pointer-events: none; }
.html-info > input:focus + .svg-link { display: none; }
#local-components .top-button-actions, #global-components .top-button-actions { top: 45px; background: white; z-index: 2; position: sticky; }
#component-settings summary > .h3 + a.info-round-icon { vertical-align: middle; }
#add-to-bundle-link { vertical-align: middle; }
#terser-configuration-fieldset legend > :first-child { padding-left: 0px; font-size: 0.9em; }
#terser-configuration-fieldset { margin-bottom: 0px; }
#settings-component-path { padding-left: 1em; margin: 0px 0px 1em; font-size: 0.9em; }
#terser-configuration-fieldset button { font-size: 0.8em; }
#settings-component-path-button:empty::before { content: "[root]"; }
#projects-list #open-template-dialog { margin-top: 0.5em; display: block; width: calc(100% - 10px); background: rgb(163, 152, 198); color: rgb(255, 255, 255); }
#projects-list { position: relative; }