<template id="project-component-UI">
  <details data-if="project.components.length">
    <summary>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="17" height="17" viewBox="0 0 23 23">
<g>
<ellipse transform="matrix(0.4833 -0.8755 0.8755 0.4833 -4.1254 16.0107)" style="opacity:1;fill:#fff; stroke:rgb(153, 153, 153); stroke-widht:2px" cx="11.5" cy="11.5" rx="11" ry="11"></ellipse>
  <path style="fill: rgb(153, 153, 153);" d="M12.2,8.2l5.2,5.2c0.4,0.4,0.4,1,0,1.4l0,0c-0.4,0.4-1,0.4-1.4,0l-5.2-5.2c-0.4-0.4-0.4-1,0-1.4l0,0
C11.2,7.8,11.8,7.8,12.2,8.2z"></path>
  <path style="fill:rgb(153, 153, 153);;" d="M10.8,8.2l-5.2,5.2c-0.4,0.4-0.4,1,0,1.4l0,0c0.4,0.4,1,0.4,1.4,0l5.2-5.2c0.4-0.4,0.4-1,0-1.4l0,0
C11.8,7.8,11.2,7.8,10.8,8.2z"></path>
</g>
</svg>
      </span>
      <span data-use="component-buttons" data-params="project,project"></span>
    </summary>
    <ul data-foreach="project.components" data-foreach-key-name="c">
      <li>
        <div data-use="project-component-UI" data-params="project,c">
        </div>
      </li>
    </ul>
  </details>
  <div data-if="!project.components.length" data-use="component-buttons" data-params="project,project"></div>
</template>
<template id="component-buttons">
  <input type="checkbox" class="package-name" data-bind="project.checked" data-bind-dom-prop="__project,project">
  <span data-bind-dom-prop="__project,project">${project.name} </span>
  <button data-if="!project.noSet" data-bind-dom-prop="__project,project" class="set-component">set</button>
  <button class="add-new-local-component" data-bind-dom-prop="__project,project" data-parent="${project.name}">+
  </button>
  <button data-bind-dom-prop="__project,project" class="remove-component">-</button>
  <button data-if="project.fixedHTML" data-bind-dom-prop="__project,project" class="set-fixed-HTML">update HTML</button>
</template>