.larger {
  font-size: larger;
  margin: 5px 0;
  border-bottom: 1px solid #ccc
}

.large {
  font-size: large;
  margin: 5px 0;
}

.success {
  color: green;
}

.error {
  color: red;
}

.success::before {
  content: "\2713";
  padding-right: 10px;
}

.error::before {
  content: "\2715";
  padding-right: 10px;
}