<!DOCTYPE html>
<html>
<head>
  <style>
    #main {
      width: 400px;
      height: 100px;
      border: 1px solid #c3c3c3;
      display: flex;
      justify-content: center;
    }

    #main div {
      width: 70px;
      height: 70px;
    }
  </style>
</head>
<body>

<h1>The justify-content Property</h1>

<p>The "justify-content: center;" aligns the flex items at the center of the container:</p>

<div id="main">
  <div style="background-color:coral;">1</div>
  <div style="background-color:lightblue;">2</div>
  <div style="background-color:pink;">3</div>
</div>

<p>Note: this example is taken from <a
  href="https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_justify-content">https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_justify-content</a>
</p>
</body>
</html>