@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&display=swap');
@import "mobstyle.css" screen and (max-width: 768px);

body {
  font-family: 'Titillium Web', sans-serif;
}

body * {
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
  padding: 6px;
  border-left: 1px solid;
  border-right: 1px solid;
  font-family: 'Roboto', sans-serif;
  background-color: #e8e8e8;
  flex-grow: 1;
}

nav li a {
  color: black;
  text-decoration: none;
}

section {
  border: 1px solid;
  padding: 1em;
}

section.articles {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}

section.articles article {
  width: calc(50% - 2em);
  margin: 1em;
  padding: 1em;
  border: 1px solid;
}

footer {
  border: 1px solid;
  padding: 1em
}

@supports (display:grid) {
  @media screen and (min-width: 900px) {
    footer {
      font-size: 10px;
    }
  }
}

@media screen and (min-width: 900px) {
  main {
    background: red;
    position: relative;
  }
}