<!-- prompt Dialog -->
<div class="tilepieces-dialog" id="tilepieces-prompt-dialog" tabindex="-1">
    <div class="tilepieces-dialog-content">
        <form id="tilepieces-dialog-prompt-form">
            <label for="tilepieces-dialog-prompt">
                <span id="tilepieces-prompt-dialog-label"></span>
                <input name="tilepieces-dialog-prompt" id="tilepieces-dialog-prompt" title="" autocomplete="off">
                <small id="tilepieces-prompt-dialog-label-error"></small>
            </label>
            <div>
                <button type="submit" id="tilepieces-prompt-dialog-button"></button>
            </div>
        </form>
    </div>
    <div class="tilepieces-dialog-close" aria-label="close"></div>
</div>
<!-- prompt Dialog -->