ul.rule-block__list{
    padding:0 0 0 10px;
    list-style:none;
    margin:0;
}
.rule-block__list li{
    position:relative;
}
.rule-block__list li > div{
    display:inline-block;
}
.rule-block__list li .rule-block__key,
.rule-block__list li .rule-block__divider{
    padding:0.3em 0 0.3em 0.45em;
}
.rule-block__list li .rule-block__key{
    color:indianred;
}
.autocomplete-hint{
    min-width:250px;
    font-size:13px;
}
.rule-block__add-property{
    width: 100%;
    position: absolute;
    bottom: 6px;
    max-width: 7%;
    right: 9px;
    text-align: center;
    padding: 0;
    //visibility:hidden;
    user-select:none;
}
.rule-block__list li .input-css{
    vertical-align:middle;
}
.rule-block__list li .input-css-placeholder{
    padding-right:0
}
