<!DOCTYPE html><html><head><link href="../../../stylesheet/css.css" rel="stylesheet" data-tilepieces-component="tilepieces/stylesheet"><link href="../../../tabs/tabs.css" rel="stylesheet" data-tilepieces-component="tilepieces/tabs"><link href="../../../dialog/css.css" rel="stylesheet" data-tilepieces-component="tilepieces/dialog"><link href="../../../vertical-tab/vertical-tab.css" rel="stylesheet" data-tilepieces-component="tilepieces/vertical-tab"><link href="../../css/css.css" rel="stylesheet" data-tilepieces-component="tilepieces/package-manager"></head><body><nav class="tab-vertical" data-tilepieces-component="tilepieces/vertical-tab">
  <button><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17" height="17" viewBox="0 0 23 23" style="enable-background:new 0 0 23 23;" xml:space="preserve">
<g>

		<ellipse transform="matrix(0.4833 -0.8755 0.8755 0.4833 -4.1254 16.0107)" style="opacity:0.35;fill:#FFFFFF;" cx="11.5" cy="11.5" rx="11" ry="11"></ellipse>
  <path style="fill: rgb(153, 153, 153);" d="M12.2,8.2l5.2,5.2c0.4,0.4,0.4,1,0,1.4l0,0c-0.4,0.4-1,0.4-1.4,0l-5.2-5.2c-0.4-0.4-0.4-1,0-1.4l0,0
		C11.2,7.8,11.8,7.8,12.2,8.2z"></path>
  <path style="fill: rgb(153, 153, 153);" d="M10.8,8.2l-5.2,5.2c-0.4,0.4-0.4,1,0,1.4l0,0c0.4,0.4,1,0.4,1.4,0l5.2-5.2c0.4-0.4,0.4-1,0-1.4l0,0
		C11.8,7.8,11.2,7.8,10.8,8.2z"></path>
</g>
</svg></button>
  <div class="tab-buttons">
    <div class="tab-buttons-wrap">
      <div class="tab-buttons-inside"><a href="#projects-list" class="selected">Projects</a><a href="#current-project-data">Project Settings</a><a href="#general-settings">General Settings</a><a href="#component-settings">Component properties</a><a href="#local-components">Local Components</a><a href="#global-components">Global Components</a>




      </div>
    </div>
  </div>
</nav><script src="../../../vertical-tab/vertical-tab.js" data-tilepieces-component="tilepieces/vertical-tab"></script></body></html>